In [1]:
import pandas as pd

In [2]:
lab = pd.read_csv('D:\ExcelR_Classes_Data\Assignments\Data_Science\Assignment - 03 (Hypothesis Testing)\labTAT.csv')

In [3]:
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

## here are four samples, so we need to use Anova Test

### null hypothesis (Ho) is:-  S1 = S2 = S3 = S4
### alternate hypothesis is:- Two or more than two samples are not equal

In [5]:
import scipy.stats as stats

In [6]:
stats.f_oneway(lab.iloc[:, 0], lab.iloc[:, 1], lab.iloc[:, 2], lab.iloc[:, 3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

## p value (0) < alpha (0.05)  --  (5% Significalce level)

## Reject Null Hypothesis, Go with Alternate Hypothesis
## Atleast one sample TAT population is different.